svg > g[class^="raphael-group-"] > text{
    fill: #f9f9f9 !important;
}
[pointer-events="bounding-box"] {
    display: none
}

.raphael-group-79-background >rect,
.raphael-group-10-background>rect
{
   fill: #fdfdfd !important;
}


.css-tzssek-MuiSvgIcon-root {
    color:#4dabf5 !important;
}